// Screen breakpint mixins
@mixin xs {
    @media only screen and (max-width: 575px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width : 1600px) {
        @content;
    }
}

@mixin ownsize($breakpoint){
    @media only screen and (max-width : $breakpoint) {
        @content;
    }
}




@mixin xs-min {
    @media only screen and (min-width: 575px) {
        @content;
    }
}

@mixin sm-min {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin md-min {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin lg-min {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin xl-min {
    @media only screen and (min-width : 1600px) {
        @content;
    }
}


/*Placeholder color*/
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &::placeholder {
        color: $color;
    }
}
@mixin remove-focus{
    &:focus{
        outline: none;
    }
}


// Button Mixins
@mixin button($padding, $background, $radius, $color: white) {
    padding: $padding;
    text-align: center;
    background-color: $background;
    border: none;
    border-radius: $radius;
    color: $color;
    transition: .2s;
    cursor: pointer;
    display: inline-block;

    .spinner-grow{
        display: none; // Hiding spinner
    }

    &:hover{
        color: $color;
    }

    &:disabled{
        opacity: 0.5;
        pointer-events: none;

        .spinner-grow{
            display: inline-block;
        }
    }
}
@mixin hover_shade($background){
    &:hover {
        background-color: shade($background, 10);
    }
}
@mixin gradient-button($padding, $background, $radius, $color: white) {
    padding: $padding;
    text-align: center;
    background: $background;
    border: none;
    border-radius: $radius;
    color: $color;
    transition: .2s;
    cursor: pointer;
}

@mixin gradient-text($gradient){
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// Font Face
@mixin font-face($name, $url) {
    @font-face {
        font-family: $name;
        src: url($url);
        font-display: swap;
        @content;
    }
}


// Badge
@mixin badge($color){
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
    background: lighten($color: $color, $amount: 30);
    color: $color;
    font-family: $fblack;
}
@mixin badge-gradient($gradient, $color){
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
    background: $gradient;
    color: $color;
    font-family: $fregular;
}



// Positioning
@mixin position_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin position_center_x{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
@mixin position_center_y{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
@mixin position_right_x{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}
@mixin position_top_right{
    position: absolute;
    right: 0;
    top: 0;
}

@mixin overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}



// Texts
@mixin date{
    color: $grey;
    font-size: 14px;
}
@mixin date_opaque{
    // font-size: 12px;
    opacity: 0.8;
    font-family: $flight;
}

// Layouts
@mixin grid-five{
    display: flex;
    flex-wrap: wrap;

    @include xs-min(){
        &>div{
            width: 100%;
        }
    }
    @include sm-min(){
        &>div{
            width: 48%;
        }
        
        &>div:nth-child(odd){
            margin-right: 2%;
        }
    }
    @include md-min(){
        &>div{
            width: 30%;
        }
        &>div:nth-child(odd){
            margin-right: inherit;
        }
        &>div:nth-child(3n+1),&>div:nth-child(3n+2){
            margin-right: 5%;
        }
    }
    @include xl-min(){
        &>div{
            width: 18%;
            margin: 0 1.25%;
        }
        &>div:nth-child(3n+1),&>div:nth-child(3n+2){
            margin-right: inherit
        }
        &>div:first-child{
            margin-left: 0;
        }
        &>div:last-child{
            margin-right: 0;
        }
    }
}