// Colors
$blue: #0094FF;
$blue2: #0CA7FF;
$blue3: #0057FF;
$link: $blue2;

$background: #F8F9FC;

$darkblue: #182D4E;
$darkblue2: #282A3A;

$darkgrey: #404252;
$grey: #5B5D6B;
$grey2: #777986;
$grey3: #9496A1;
$grey4: #B3B5BD;
$grey5: #D6D9E1;
$grey6: #F3F4F8;

$red: #EE4865;
$red2: #FF7474;
$pinkred: #E41476;

$green: #43F19E;
$orange: #FFD600;
$purple: #5A0CFF;

// Gradients
$bluegradient: linear-gradient(to right, #11BBF1, #485BFF);
$bluegradient2: linear-gradient(45deg, #11BBF1, #192FF5, #F119F5);
$gradient_cool: linear-gradient(45deg, #FF0144, #F55B80, #0038FF);



// Fonts - F means font
$fblack: "Nunito Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
$flight: "Nunito Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
$fsbold: "Nunito Semibold", Arial, "Helvetica Neue", Helvetica, sans-serif;
$fregular: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;