header {
    display: flex;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

    .left {
        width: 45%;
    }

    &.shadowed{
        box-shadow: $card_shadow;
    }


    .middle {
        flex-shrink: 1;
        text-align: center;
        // position: relative; // For svg

        svg {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));

            @include md {
                display: none;
            }
        }
    }

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 45%;

        .action-btn-blue {
            border-bottom: 4px solid $darkblue;
            display: inline-block;
            min-width: 120px;
        }


        // Search
        #search_btn {
            color: white;
            font-size: 18px;
            margin-right: 40px;
            cursor: pointer;

            @include md {
                color: black;
                margin: 0;
            }
        }

        .searchfield {
            visibility: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            overflow: hidden;

            @include md {
                z-index: 2;
            }

            width: 100%;
            background-color: white;
            height: 30vh;

            @include md{
                height: 100vh;
            }


            .inner {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%);
                max-width: 100%;

                @include md{
                    padding: 50px;
                    transform: translate(-50%, -50%);

                    label{
                        display: none;
                    }

                    i{
                        font-size: 18px;
                    }
                }


                input {
                    border: none;
                    font-size: 30px;
                    border-bottom: 2px solid $grey6;
                    width: 600px;
                    max-width: 80%;
                    @include placeholder-color($darkblue);
                    @include remove-focus;

                    @include md{ font-size:  18px; }

                    &:focus{
                       border-color: $blue; 
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 20px;
                    margin-left: 20px;
                }
            }

            .close {
                position: absolute;
                right: 0px;
                top: 0px;
                padding: 20px 30px;
                font-size: 30px;
                color: $grey3;
                cursor: pointer;
            }
        }

        .actions{
            a {
                font-family: $fsbold;
                color: black;
            }
            a.action-btn-red{
                color: white;
            }
        }
 
    }



    // Components
    nav {
        display: flex;
        list-style: none;
        margin-left: 40px;

        @include md {display: none;}

        li {
            padding-right: 40px;

            &:hover .dropdown {
                visibility: visible;
                opacity: 1;
                transition: .5s;
                transition-delay: .2s;
            }
    
            .dropdown {
                position: absolute;
                z-index: 1;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
                top: 80px;
                left: 60px;
                border-radius: 10px;
                background-color: white;
                overflow: hidden;
                display: flex;
                max-height: 580px;
    
                transition: .2s;
                transition-delay: .2s;
                visibility: hidden;
                opacity: 0;
    
                .banner {
                    padding: 50px;
                    background-color: $background;
                    max-width: 400px;
                    @include xl{display: none;}
    
                    img {
                        margin-bottom: 40px;
                        width: 300px;
                    }
    
                    label {
                        font-size: 26px;
                        margin-bottom: 15px;
                        color: $darkblue;
                    }
    
                    p {
                        font-size: 18px;
                        margin-bottom: 50px;
                        line-height: 1.5;
                        color: $grey;
                    }
    
                    a {
                        position: relative;
                        @include gradient-button(20px, $bluegradient2, 10px);
                        display: block;
                        width: 200px;
                        margin: auto;
                        margin-bottom: 20px; // For blurred shadow to be visible
                        font-family: $fregular;
    
                        &>* {
                            position: relative;
                            z-index: 2;
                        }
    
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            @include gradient-button(20px, $bluegradient2, 10px);
                            filter: blur(50px);
                        }
                    }
                }
    
                .list {
                    padding: 50px;
    
                    h5 {
                        font-family: $fblack;
                        margin-bottom: 15px;
                        white-space: nowrap;
                        text-align: left;
                        // word-wrap: break-word;
                        // word-break: keep-all;
                    }
    
                    a {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
    
                        i {
                            margin-right: 5px;
                        }
    
                        &.cool {
                            color: $red;
                            font-family: $fblack;
                        }
    
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
    
            a { // For nested links
                color: $darkblue;
            }

            &>a { // Main links
                text-decoration: none;
                color: $darkblue2;
                font-size: 1.1rem;
                font-family: $fsbold;
                letter-spacing: -0.5px;

                white-space: nowrap;


                &:hover{
                    color: $red;
                }

                i {
                    margin-right: 10px;
                    font-size: .9rem;
                    @include xl{display: none;}
                }
            }

            &.other_li {
                position: relative;
    
                .dropdown {
                    top: 40px;
                    left: 0;
                    white-space: nowrap;
                }
    
                &>a i{display: inline-block;}
            }
        }
    }

    .logo{
        img {
            position: relative;
            z-index: 2;
            width: 35px;
            padding: 8px;
            box-sizing: content-box;

            @include md {
                width: 30px !important;
            }
        }
    }




    // Menu button
    .menu-btn {
        width: 30px;
        height: 22px;
        margin-left: 40px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        display: none;

        @include md {
            display: block;
        }
    }

    .menu-btn span {
        width: 20px;
        height: 2px;
        background-color: black;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        transition: .2s;
        transition-delay: 0.2s;

        &::before,
        &::after {
            content: " ";
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: #222;
            display: block;
            transition-duration: .2s;
            transition-property: margin, -webkit-transform;
            // transition-delay: 0s, 0.2s;

            transform-origin: center;
        }

        &::before {
            margin-top: -8px;
        }

        &::after {
            margin-top: 8px;
        }
    }

    .menu-btn.active span {
        transform: rotate(45deg);

        &::before {
            margin: 0;

        }

        &::after {
            margin-top: 0;
            transform: rotate(-90deg);

        }
    }

    //Menu itself
    menu {
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        position: absolute;
        right: 0;
        padding: 40px;
        top: 64px;
        background-color: #FDFDFD;
        height: calc(100vh - 65px);
        transition: .2s;
        border: none !important;
        width: 100%;

        @include md{padding: 20px}
        

        nav {
            li {
                list-style: none;

                a {
                    display: block;
                    padding: 20px 40px;
                    color: black;
                    font-family: $fsbold;

                    &.special {
                        color: $link;
                    }
                }
                .dropdown{
                    margin-left: 20px;
                    display: none;
                }
            }
        }
    }





}



header.header_transparent {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: transparent;
    border: none;

    @include md {
        background-color: white;
    }

    .left{
        nav>li>a{color: white;}
    }
    .middle{
        .logo.logo_white{
            @include md-min{
                &>img:last-child{
                    display: none;
                }
                img{
                    margin-top: 10px;
                }
            }
            @include md{
                &>img:first-child{
                    display: none;
                }
            }
        }
        .logo:not(.logo_white) img{
            width: 44px;
        }
    }
}
