.action-btn-red{
    @include button(15px 15px, $red, 10px);
    min-width: 120px;
}
.action-btn-blue{
    @include button(15px 15px, $blue, 10px);
    min-width: 120px;
}

.stylized_btn{
    @include button(15px 15px, transparent, 10px);
    background-image: url("/img/homepage/button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cool-btn{
    @include button(20px 30px, transparent, 10px);
    background: $gradient_cool;
    font-family: $fsbold;
    border-radius: 100px;

    &.shadowed::after{
        display: block;
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        background: $gradient_cool;
        z-index: -1;
        filter: blur(40px)
    }
}
.gradient-btn-blue{
    @include button(20px 15px, transparent, 10px);
    background: $bluegradient;
    font-family: $fsbold;
}