// Used in homepage only
.mycard{
    margin: 0 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    .imgdiv{
        width: 100%;
        overflow: hidden;
    }

    &:hover{
        .imgdiv img{
            transform: scale(1.1);
        }
    }
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        transition: .5s;
    }
    .text{
        padding: 40px;
        label{
            @include date;
        }
        h2{
            font-family: $fblack;
            margin-bottom: 10px;
            color: $darkblue;
        }
        p{
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 30px;
            color: $grey2;
        }
        a{
            font-family: $fblack;
        }
    }
    .list-group{
        padding-left: 40px;
        padding-right: 40px;

        &>div{
            display: flex;
            column-gap: 20px;
            i{
                color: $grey3;
            }
        }
    }
}

// Used everywhere
.cards{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    @include xl{padding: 20px;}

    // Animation stuff
    perspective: 2000px;
    .preserve-3d{transform-style: preserve-3d;}
    

    .sitecard{
        margin: 0 25px;
        margin-bottom: 30px;
        border-radius: 5px;
        overflow: hidden;
        visibility: hidden;
        border: none;
        box-shadow: $card_shadow;

        // Animation stuff
        opacity: 0;
        visibility: visible !important;
        transition: opacity .3s cubic-bezier(.1,.3,.2,1),transform .72s cubic-bezier(.1,.3,.27,1);
        transform: translateY(450px) rotateX(24deg);
        &.animated{
            opacity: 1;
            transform: translateY(0px) rotateX(0deg);
        }
        // Animation stuff END


        @include xs{
            margin: 10px;
            margin-bottom: 30px;
        }

        .imgdiv{
            width: 100%;
            overflow: hidden;

            &>a{
                display: block;
                line-height: 0;
            }
            &>a img{
                width: 101%;
                height: 250px;
                @include md{height: inherit;}
                object-fit: cover;
                transition: 0.2s;
                transition-timing-function: ease-out;
                transform: scale(1);
            }

            .overlays{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                padding: 10px;

                display: flex;
                justify-content: flex-end;

                .supported{
                    display: flex;
                    column-gap: 5px;

                    div{
                        border-radius: 50px;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        padding: 8px;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: none;
                        
                        stroke:white;
                        stroke-width: 700;
                        stroke-linecap:round;
                        stroke-linejoin:round;


                    }
                }

                .actions{
                    opacity: 0;
                    transition: .2s;

                    display: flex;
                    column-gap: 10px
                }
                .actions i{
                    font-size: 16px;
                    color: white;
                    background-color: rgba($color: white, $alpha: .3);
                    box-shadow: 0 4px 20px rgba($color: black, $alpha: 0.2);
                    padding: 10px 12px;
                    border-radius: 50px;
                    cursor: pointer;
                }
            }
        }
    
        &:hover{
            .imgdiv{
                &>a img{
                    transform: scale(1.04);
                }

                .actions{
                    opacity: 1;
                }
            }
        }

        .text{
            padding: 40px;
            padding-top: 20px;

            .supported{
                display: flex;
                column-gap: 10px;
                align-items: center;
                margin-bottom: 10px;
                div{
                    background-color: darken($background, 3);
                    padding: 5px;
                    border-radius: 50px;
                }
                svg{
                    width: 20px;
                    fill: $darkblue;
                    &.fabric{ width: 16px;}
                }
                label{
                    font-size: 12px;
                    color: $darkblue;
                    font-family: $fblack;
                }
            }


            h2{
                font-family: $fblack;
                color: $darkblue;
            }
            .versions{
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 30px;
                color: $grey2;
            }
            a{
                font-family: $fblack;
            }
        }
        .detail{
            img{
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 50px;
            }
            &>div{
                margin-left: 15px;
                a{
                    display: block;
                    color: $darkblue;
                    margin-bottom: 5px;
                }
                label{
                    @include date;
                }
            }
        }
    }

    @include lg-min{
        &>div:nth-child(3n+2) .sitecard{
            transition-delay: .2s;
        }
        &>div:nth-child(3n+3) .sitecard{
            transition-delay: .4s;
        }
    }

}





// Recommended and Modpack Cards
.recommended{
    padding: 50px;
    margin-top: 50px;

    h3{
        font-family: $fblack;
    }
    p{
        margin-top: 10px;
        color: $grey3;
        font-size: 18px;
    }

    .inner{
        margin-top: 40px;
        @include grid-five;
    }
}
.card.modpack{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $card_shadow;
    border: none;
    margin-bottom: 40px;
    
    

    .imgdiv{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        flex-wrap: wrap;

        &>img:first-child{
            height: 100%;
            width: 60%;
            object-fit: cover;
        }
        &>img:nth-child(2), &>div:nth-child(3){
            height: 50%;
            width: 40%;
            object-fit: cover;
        }

        &>div:nth-child(3){
            position: relative;
            img{
                height: 100%;
                width: 100%;
                filter: brightness(0.5);
            }
            label{
                position: absolute;
                @include position_center;
                color: white;
                font-family: $fsbold;
                font-size: 22px;
            }
        }
    }
    .text{
        padding: 30px;
        h3{
            font-family: $fsbold;
        }
        .details{
            margin-bottom: 10px;
            label{ 
                color: $grey3;
            }
        }
        p{
            font-size: 18px;
            line-height: 1.3;
        }
    }
}