.dropdown{
    .dropdown-item{
        padding: 10px 20px;
    }

    ul{
        margin-top: 10px !important;
        &::after {
            content: " ";
            position: absolute;
            left: 15px;
            top: 0;
            transform: rotate(45deg) translate(-50%, 0);
            background-color: white;
            top: -2px;

            width: 10px;
            height: 10px;
            border-radius: 2px;
            border-top: 1px solid $grey5;
            border-left: 1px solid $grey5;
        }
    }
    // ul{
    //     visibility: hidden;
    //     transition-delay: .2s;

    //     @include position_center_x;
    //     top: 15px;

    //     // border: 1px solid $grey5;
    //     box-shadow: $card_shadow;
    //     border-radius: 5px;

    //     background-color: white;


    //     &.active{visibility: visible;}

    //     li{
    //         border-radius: 5px;
    //         overflow: hidden;
    //     }
    //     li>a{
    //         display: block;
    //         padding: 10px 20px;
    //         background-color: white;
    //         color: $darkblue;

    //         &:hover{
    //             background-color: darken($color: white, $amount: 5);
    //         }
    //     }

    //     &::after {
    //         content: " ";
    //         @include position_center_x;
    //         transform: rotate(45deg) translate(-50%, 0);
    //         background-color: white;
    //         top: -2px;

    //         width: 10px;
    //         height: 10px;
    //         border-radius: 2px;
    //         border-top: 1px solid $grey5;
    //         border-left: 1px solid $grey5;
    //     }

    // }
}