// For anything
.lazyColor {
    opacity: 0.5;
    background: linear-gradient(135deg, rgba(211, 223, 232, 1) 30%, 
                                        rgba(169, 184, 197, 1) 38%, 
                                        rgba(168, 182, 193, 1) 41%, 
                                        rgba(168, 182, 193, 1) 50%, 
                                        rgba(169, 184, 197, 1) 51%, 
                                        rgba(211, 223, 232, 1) 57%, 
                                        rgba(211, 223, 232, 1) 80%
                                );
    background-size: 1200% 1200%;
    animation: LazyLoad 2s ease infinite;
    background-position: 100% 100%;
}


// For images
.imgdiv.lazyload{
    opacity: 0.5;
    background: linear-gradient(135deg, rgba(211, 223, 232, 1) 30%, 
                                        rgba(169, 184, 197, 1) 38%, 
                                        rgba(168, 182, 193, 1) 41%, 
                                        rgba(168, 182, 193, 1) 50%, 
                                        rgba(169, 184, 197, 1) 51%, 
                                        rgba(211, 223, 232, 1) 57%, 
                                        rgba(211, 223, 232, 1) 80%
                                );
    background-size: 1200% 1200%;
    animation: LazyLoad 2s ease infinite;
    background-position: 100% 100%;

    img{
        transform: scale(1.1);
        opacity: 0;
    }

    &.loaded{
        opacity: 1;
        img{
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    }
}

.overlay-animation{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: inherit;

        background: linear-gradient(135deg, rgb(211,223,232) 30%,rgb(169,184,197) 38%,rgb(168,182,193) 41%,rgb(168,182,193) 50%,rgb(168,182,193) 50%,rgb(169,184,197) 51%,rgb(211,223,232) 57%,rgb(211,223,232) 80%,rgb(211,223,232) 80%);
        background-size: 1200% 1200%;
        animation: LazyLoad 1s ease;
        animation-iteration-count: 4;
        background-position: 100% 100%;
    }

    &.overlay-animation-finished::after{
        opacity: 0;
        transition: .4s;
    }
}


@keyframes LazyLoad {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}