// For anything
.lazyColor {
    opacity: 0.5;
    background: linear-gradient(135deg, rgba(211, 223, 232, 1) 30%, 
                                        rgba(169, 184, 197, 1) 38%, 
                                        rgba(168, 182, 193, 1) 41%, 
                                        rgba(168, 182, 193, 1) 50%, 
                                        rgba(169, 184, 197, 1) 51%, 
                                        rgba(211, 223, 232, 1) 57%, 
                                        rgba(211, 223, 232, 1) 80%
                                );
    background-size: 1200% 1200%;
    animation: LazyLoad 2s ease infinite;
    background-position: 100% 100%;
}


// For images
.img-lazyload{
    opacity: 0.5;
    background: linear-gradient(135deg, rgba(211, 223, 232, 1) 30%, 
                                        rgba(169, 184, 197, 1) 38%, 
                                        rgba(168, 182, 193, 1) 41%, 
                                        rgba(168, 182, 193, 1) 50%, 
                                        rgba(169, 184, 197, 1) 51%, 
                                        rgba(211, 223, 232, 1) 57%, 
                                        rgba(211, 223, 232, 1) 80%
                                );
    background-size: 1200% 1200%;
    animation: LazyLoad 2s ease infinite;
    background-position: 100% 100%;

    img{
        transform: scale(1.1);
        opacity: 0;
    }

    &.loaded{
        opacity: 1;
        img{
            transform: scale(1);
            opacity: 1;
            transition: 0.5s;
        }
    }
}

.lazyload-blur{
    filter: blur(10px);
    transform: scale(1.2) !important;
    transition: 0s;

    &.loaded{
        filter: none;
    }
}
@keyframes removeblur{
    0%{
        filter: blur(10px);
    }
    100%{
        filter: blur(0px);
    }
}

.overlay-animation{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: inherit;

        background: linear-gradient(135deg, #d8d9de 40%, hsl(223, 5%, 80%), hsl(223, 5%, 70%), hsl(223, 5%, 80%), #d8d9de 60%);
        background-size: 1200% 1200%;
        animation: LazyLoad 2s ease infinite;
        // animation-iteration-count: 4;
        background-position: 100% 100%;
    }

    &.overlay-animation-finished::after{
        opacity: 0;
        transition: .4s;
        visibility: hidden;
        transition-delay: visibility .4s;
    }
}


@keyframes LazyLoad {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}