.savePost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba($color: $darkblue2, $alpha: 0.9);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    visibility: hidden;
    animation-duration: .5s;

    .inner {
        margin-top: 100px;
        position: relative;

        background-color: white;
        padding: 50px;
        border-radius: 10px;

        visibility: hidden;
        animation-delay: .5s;
        animation-duration: .5s;

        p {
            color: $grey2;
            margin-top: 10px;
        }

        .collections {
            margin-top: 30px;

            .collection {
                display: flex;
                align-items: center;
                column-gap: 20px;
                margin-bottom: 20px;

                padding: 10px;
                border-radius: 10px;
                border: 1px solid $grey5;
                cursor: pointer;

                position: relative;
                transition: .2s;

                &.added{
                    background-color: $red;
                    border: 1px solid transparent;

                    i{color: white;}
                    .right{
                        label{color: white;}
                        .details{color: darken($red,20)}
                    }

                    .remove{display: block;}
                }

                .left {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70px;

                    position: relative;
                    &>i {
                        font-size: 2em;
                        // color: $darkblue2;
                    }

                    .imgdiv {
                        position: relative;
                        img{
                            width: 100%;
                            height: 62px;
                            object-fit: cover;
                            border-radius: 5px;
                            
                            // border: 1px solid $grey5;
                            // padding: 5px;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            top: 4px;
                            left: 0;
                            width: 100%;
                            height: 62px;
                            border: 1px solid $grey5;
                            border-top: none;
                            border-radius: 5px;
                            z-index: -1;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 8px;
                            left: 0;
                            width: 100%;
                            height: 62px;
                            border: 1px solid $grey5;
                            border-top: none;
                            border-radius: 5px;
                            z-index: -1;
                        }
                    }
                }

                .right {
                    label {
                        margin-bottom: 10px;
                        font-size: 1.1rem;
                        font-family: $fsbold;
                        color: $darkblue;
                        cursor: pointer;
                    }

                    .details {
                        font-size: 0.875rem;
                        display: flex;
                        column-gap: 10px;
                        font-family: $fsbold;
                        color: $grey2
                    }
                }

                .remove {
                    @include position_right_x;
                    right: 20px;
                    padding: 10px 12px;
                    background-color: shade($red, 10);
                    border-radius: 5px;
                    color: white;

                    display: none;
                }
            }
        }

        .close_btn{
            @include position_top_right;
            transform: translate(50%, -50%);
            padding: 10px 14px;
            background-color: white;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
            cursor: pointer;
            i{font-size: 1.2em;}
        }
    }
}





.dialog{
    z-index: 999;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to top, rgba(black, 0.5), transparent);
    position: fixed;
    bottom: 0;
    left: 0;

    animation-duration: 0.4s;

    visibility: hidden;

    .inner{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 50px;

        padding: 40px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 12px 60px -20px rgba($color: #000000, $alpha: 0.3);
    
        h5{
            font-family: $fsbold;
            font-size: 1.3rem;
        }
        p{
            margin-top: 10px;
        }
    
        .actions{
            margin-top: 30px;
    
            button{margin-right: 15px;}
        }
    }

}