@keyframes save_animation {
    from{
        transform: scale(1);
    }
    80%{
        opacity: 0;
    }
    to{
        transform: scale(2);
        opacity: 0;
    }
}


.save_animation{
    animation: save_animation .3s;
}