html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	// line-height: 1; // Temp
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// My
a{
	color: $link;
	text-decoration: none;
	cursor: pointer;
}

body{
	// overflow-x: hidden;
}

input:focus{
	outline: none;
}
button{
    background-color: transparent;
    border: none;
}


// Under Experiement
html{
    @include md{
        font-size: 14px;
    }
}



// Froala Editor reset
.fr-box{
    .fr-toolbar, .fr-wrapper, .second-toolbar{
        // background-color: transparent !important;
        border-color: lighten($grey5, 5) !important;
    }
    &.invalid{
        &, .fr-toolbar, .fr-wrapper, .second-toolbar{
            animation: 1s invalid;
            animation-delay: .5s;
        }
    }
    &.secondary {
        visibility: hidden;
        animation-duration: .5s;
        max-height: 0px;
        padding: 0px;
        overflow: hidden;
        transition-delay: .5s;
        transition: .5s;
    }
    &.secondary.toggled {
        max-height: 1000px;
        padding: 20px 0;
    }
    @keyframes invalid {
        from, 50%, to{
            background-color: transparent;
        }
        25%, 75%{
            border-color: lightcoral;
            background-color: transparentize($color: lightcoral, $amount: 0.95);
        }
    }
}
.fr-box.fr-basic .fr-element.fr-view {
    font-family: $flight;
    font-size: 18px;
    color: $darkblue;
}
.fr-placeholder{
    color: $grey3 !important;
}