// Fonts
$wblack: "WorkSans Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
$wlight: "WorkSans Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
$wsbold: "WorkSans SemiBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
$wregular: "WorkSans", Arial, "Helvetica Neue", Helvetica, sans-serif;


// Colors
$link: #0CA7FF;