.entry-home{
    height: 100vh;
    background-image: url("/img/homepage/entry.jpg");
    background-position: center;

    display: flex;

    .inner{
        position: relative;
        @include position_center;
        top: 40%;
        text-align: center;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        @include md{
            width: 100%;
            padding: 20px;
        }
        @include xl{
            top: 50%;
        }

        h1{
            font-weight: 900;
            font-size: 60px;
            max-width: 800px;
            min-width: 100%;
            display: none;


            @include xl{
                display: block;
            }
            @include sm{font-size: 32px;}
        }
        .rotatingtext{
            @include xl{display: none;}
            p{
                opacity: 1;
                font-weight: 900;
                font-size: 70px;
                @include md{font-size: 40px;}
                line-height: 84px;
            }

            #textrotator {
                height: 70px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                transition: .4s;
                margin-bottom: -15px;

                // Default
                width: 200px;
              }
              
              #textrotator span {
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: 100px;
                opacity: 0;
              }
              
              #textrotator span[data-show] {
                transform: translateY(-130%);
                opacity: 1;
                transition: .5s ease-in-out;
                // transition: .6s opacity ease-in-out;
              }
              #textrotator span[data-up] {
                transform: translateY(-250%);
                transition: .5s ease-in-out;
              }
        }

        &>p{
            opacity: 0.5;
            font-size: 1.4em;
            max-width: 700px;
            line-height: 1.2;
            font-weight: 600;
        }

        a{
            position: relative;
            @include md{
                margin: auto; 
                margin-top: 20px;
            }
            margin-top: 20px;
            display: flex;
            align-items: center;
            padding: 0;
            transition: .4s;

            &::before{
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all .8s cubic-bezier(.25,1,.33,1);
                background: #3452ff;
                border-radius: 100px;
                opacity: 0;
            }

            span{
                position: relative;
                padding: 20px;
                padding-right: 10px;
            }
            i{
                opacity: 0.8;
                border-left: 1px solid rgba($color: white, $alpha: 0.5);
                padding: 5px 20px;
                padding-left: 10px;
            }


            // First Approach
            // background-size: 200%;
            // &:hover{
            //     background-position: 100% 100%;
            // }
            // Second Approach
            &:hover{
                &::before{opacity: 1;}
                &::after{
                    background-size: 400%;
                    background-position: 100% 100%;
                }
            }
        }
    }
}

.flag_banner{
    width: 400px;
    max-width: 80%;
    margin: auto;
    position: relative;
    h2{
        position: absolute;
        @include position_center;
        font-weight: 900;
        font-size: 25px;
        color: white;
        width: 100%;
        text-align: center;

        top: 28px;
        @include xs{top: 20px;}
    }
    img{
        width: 100%;
    }
    p{
        text-align: center;
        margin: auto;
        margin-top: 20px;
        color: $grey2;
        line-height: 1.5;
    }
}

.mods{
    margin-bottom: 50px;
    @include xs{ margin-top: 100px;}

    .container-fluid{
        margin-top: 120px;
        max-width: 1600px;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        text-align: center;
        row-gap: 10px;
        padding: 20px;
        box-shadow: 0 0 50px $grey5;
        border-radius: 10px;
        border: none;
        
        width: 18%;
        margin: auto 1%;
        @include lg{
            width: 31%;
        }
        @include sm{
            width: 48%;
        }
        @include xs{
            width: 98%;
        }


        max-width: 300px;
        margin-bottom: 100px;
        @include md{
            margin: auto;
            margin-bottom: 120px;
        }

        .imgdiv{
            position: relative;
            margin-top: -100px;

            svg{
                transform: rotate(90deg);
            }
            img{
                position: absolute;
                z-index: 1;
                height: 220px;
                width: 202px;
                object-fit: cover;
                clip-path: url(#cardclip);
                
                box-shadow: 0 0 20px black;
            }
        }
        label{
            font-weight: 900;
            color: $red;
            padding: 5px;
            border: 1px solid $red;
            border-radius: 10px;
            margin-top: 20px;
        }
        h4{
            font-weight: 900;
            color: $darkblue;
        }
        p{
            font-size: 18px;
            line-height: 1.2;
        }
        a{
            margin: 20px 0;
        }
    }
}

.mostdemanding{
    background-image: url("/img/homepage/banner2.jpg");
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    row-gap: 20px;
    @include md{
        padding: 20px;
        align-items: flex-start;
    }

    h1{
        font-family: $fminecraft;
        @include sm{font-size: 30px;}
    }
    p{
        font-size: 20px;
        opacity: 0.8;
    }
    a{
        font-weight: 600;
    }
}

.shaderpacks{
    padding: 50px;
    @include md{padding: 0;}

    .container-fluid{
        max-width: 1600px;
    }

    .gradient-btn-blue{
        box-shadow: 4px 4px 50px lighten($color: $blue2, $amount: 30);
        margin: auto;
    }
}

.startjourney{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/img/homepage/banner3.jpg");
    background-position: center;
    min-height: 500px;
    margin: 50px 0;
    color: white;

    row-gap: 10px;

    h1{
        font-weight: 900;
        font-size: 50px;
        text-align: center;
    }
    p{
        font-weight: 600;
        opacity: 0.7;
    }
    a{
        margin-top: 20px;
        width: 150px;
        font-weight: 900;
    }
}


.texturepacks{
    .container-fluid{
        max-width: 1600px;
    }
}

.recent{
    margin: 80px 0;
    margin-bottom: 120px;
    @include md{display: none;}
    h1{
        text-align: center;
        font-weight: 900;
        color: $darkblue;
    }
    &>p{
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        font-size: 20px;
        color: $grey2;
    }
    #recent_cards{
        margin-top: 50px;
    }
    .card{
        max-width: 400px; // This is causing the carousel lag
        height: 500px;
        border: none;
        border-right: 1px solid rgba($color: white, $alpha: 0.5);
        overflow: hidden;
        &>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .4s;
        }

        &:hover{
            .text{
                opacity: 1;
                bottom: 0px;
            }
        }

        .text{
            position: absolute;
            bottom: 0px;
            padding: 30px;
            color: white;

            transition: .4s;
            opacity: .6;
            bottom: -80px;
            background: linear-gradient(to top, black, transparent);

            h2{
                font-weight: 600;
            }
            &>label{
                opacity: .6;
            }
            p{
                margin: 10px 0;
                line-height: 1.5;
            }

            .bottom{
                background: linear-gradient(120deg, rgba($color: #FF0144, $alpha: 0.5), rgba($color: #F55B80, $alpha: 0.5), rgba($color: #0038FF, $alpha: 0.5));
                margin: 0 -30px;
                margin-bottom: -30px;
                margin-top: 30px;

                display: flex;
                justify-content: space-between;
                padding: 15px 30px;

                .detail{
                    column-gap: 10px;
                    
                    label{
                        @include date();
                        color: white;
                        opacity: .8;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    img{
                        border-radius: 40px;
                        width: 40px;
                        width: 40px;
                    }
                }
                a{
                    color: white;
                    font-weight: 900;
                    padding: 10px 20px;
                    border: 1px solid rgba(white,.5);
                    display: block;
                    border-radius: 50px;
                    line-height: 1.5;
                    font-size: 14px;
                }
            }
        }
    }

    .instruction_arrows{
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        font-size: 40px;
        opacity: .2;

        .circle{
            width: 25px;
            height: 25px;
            background-color: black;
            display: inline-block;
            border-radius: 50%;
        }
    }
}


/*Setting animation-duration for even cards to appear slower than odd ones*/
.row > div:nth-child(2n) .card {
    animation-delay: 300ms;
}