main{
    width: 100%;

    display: flex;
    .left{
        width: 60%;
        padding: 100px;
        padding-bottom: 0;
        flex-grow: 1;
        @include md{padding: 40px;}
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .inner{
            width: min-content;
        }

        h1{
            font-weight: 900;
            color: $darkblue;
            margin-bottom: 5px;
        }
        p.haveaccount{
            color: $grey4;
            font-size: 1.1rem;

            a{
                padding-left: 10px;
            }
        }

        form{margin-top: 30px;}
        .socials{
            display: flex;
            column-gap: 10px;

            &>div{
                border: 1px solid $grey5;
                border-radius: 50px;
                padding: 10px 15px;

                display: grid;
                place-content: center;
            }

            .social-simple{
                width: 45px;
                height: 45px;
            }

            &>div i{
                font-size: 20px;
            }

            .facebook{
                color: #3D6AD6;
            }
            .twitter{
                color: #03A9F4;
            }
            .google{
                display: flex;
                align-items: center;
                column-gap: 15px;

                flex-grow: 1;

                span{
                    color: $grey3;
                    font-size: 14px;
                    @include md{font-size: 12px;}
                }

                img{
                    width: 22px;
                }
            }
        }

        .separator{
            display: flex;
            align-items: center;
            margin: 10px 0;
            margin-top: 20px;

            span{
                padding: 0 10px;
                font-style: italic;
                color: $grey2;
            }

            &::before, &::after{
                position: relative;
                content: "";

                flex-grow: 1;
                height: 1px;
                background-color: $grey5;
            }
        }

        .input-group{
            margin: 30px 0;
        }

        .addinfo{
            margin-top: 100px;
            color: $grey4;

            p{
                max-width: 400px;
            }
        }
    }
    .right{
        width: 40%;
        line-height: 0;
        @include lg{display: none;}
        
        img{
            width: 100%;
        }
    }
}