&{
    background-color: $background;
}
.banner{
    position: relative;
    &>img{
        filter: brightness(0.6);

        height: 50vh;
        @include md{height: 100vh;}
        width: 100%;
        object-fit: cover;
        // object-position: 20% 20%;

        // clip-path: path("M-7 0H1913V400C1913 400 1329.06 452.542 954.5 452.5C578.769 452.458 -7 400 -7 400V0Z");
        @include lg-min{clip-path: url(#myclip)};
    }

    .overlay{
        color: white;
        gap: 10px;

        h1{
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 1.1rem; 
            opacity: .8; 
            max-width: 500px;
            text-align: center; 
            line-height: 1.5;
        }
        a{
            margin-top: 10px;
        }

        .details{
            position: relative;
            margin-bottom: 10px;

            .inner{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                position: relative;
                z-index: 2;

                >div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    // color: $darkblue;
                }
                .icon{
                    img{width: 20px; height: 20px;}
                }
            }

        }
    }
}




main{
    &>p{
        // width: 600px;
        min-width: 100%;
        width: 0;
    }
}