&{
    background-color: $background;
}
.banner{
    img{
        filter: brightness(0.8);

        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
}


main{
    display: grid;
    // grid-template-columns: minmax(10px, 100%);
    grid-template-rows: auto 1fr;

    max-width: 100%;
    padding: 40px;
    align-items: start;
    gap: 50px;
    row-gap: 30px;
    
    margin-top: -200px;
    z-index: 1;
    
    @include md{padding: 20px;}

    .profile_card, .subscribers, .level{
        background-color: white;
        width: 100%;
        border-radius: 10px;

        box-shadow: 0 0px 70px rgba($color: #ACB5C9, $alpha: 0.25);
    }


    .profile_card{
        padding: 50px 30px;
        width: 350px;
        text-align: center;
        grid-row: 1/4;
        @include xl{
            grid-row: 1/span 2;
        }
        @include md{width: 300px;}

        position: relative;


        .level-name{
            display: grid;
            place-items: center;

            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, -50%);
            label{
                grid-column: 1/1;
                grid-row: 1/1;
                color: white;
                font-weight: 600;
            }
            img{
                grid-column: 1/1;
                grid-row: 1/1;
            }
        }

        .imgdiv{
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }

        h3{
            font-weight: 700;

            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            margin-top: 20px;
            margin-bottom: 5px;

            span{
                font-weight: 600;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        p.subscribers-count{
            color: $blgrey;
            margin-bottom: 20px;
        }

        p.bio{
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        a.website{
            color: black;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .actions{
            margin: 30px 0;
            button.follow{
                @include gradient-button(15px 30px, $bluegradient, 20px);
                margin-right: 10px;
            }
        }


        .social a i{
            border-radius: 50%;
            color: white;
            width: 45px;
            height: 45px;
            font-size: 1.1rem;
            margin: 10px;
            transition: .2s;

            display: inline-grid;
            place-items: center;
        }
        .social a i:hover{
            transform: scale(1.2);
        }
        .social a:first-child i{
            background: linear-gradient(45deg, #3b5998, #0078d7);
            box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
        }
        .social a:nth-child(2) i{
            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
            box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
        }
        .social a:nth-child(3) i{
            background: linear-gradient(45deg, #1da1f2,#0e71c8);
            box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
        }
        .social a:nth-child(4) i{
            background: linear-gradient(45deg, #222,#0e71c8);
            box-shadow: 0px 4px 30px rgba(34, 34, 34, 0.7);
        }
    }

    .stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-column: 2/4;
        grid-row: 1;

        border-radius: 10px;
        overflow: hidden;
        @include xl{
            grid-row: 1;
            grid-column: 2;
        }
        @include md{
            grid-row: 3;
            grid-column: 1;
        }
        @include xl-min{
            width: 1000px;
        }

        .stat{
            background-color: white;
            padding: 20px 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 16.5%;
            @include xl{width: 33.33%;}
            @include lg{width: 50%;}

            span{
                font-size: 1.5rem;
            }
            label{
                margin-top: 10px;
                font-size: 0.75rem;
                color: $blgrey;

                i{
                    margin-right: 2px;
                }
            }
        }
    }

    &>.actions{
        grid-column: 2/4;
        grid-row: 2;
        @include xl{
            grid-row: 2;
            grid-column: 2;
        }
        @include md{
            grid-row: 4;
            grid-column: 1;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include lg{grid-template-columns: repeat(2,1fr);}
        @include md{grid-template-columns: 1fr;}
        gap: 20px;

        a.action{
            display: flex;
            align-items: center;
            column-gap: 20px;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0px 70px rgba($color: #ACB5C9, $alpha: 0.25);

            .left{
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                width: 50px;
                height: 50px;

                i{
                    font-size: 1.5rem;
                    color: $red;
                }

                // background-color: lighten($color: $red, $amount: 36);
                // color: shade($red, 10);
                // border: 1px solid shade($red, 10);
            }
            .right{
                color: $darkblue2;
                label{
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                p{
                    margin-top: 5px;
                    color: $blgrey;
                }
            }
        }
    }

    .subscribers{
        padding: 30px;
        max-width: 400px;

        grid-column: 2;
        grid-row: 3;
        @include xl{
            grid-row: 3;
            grid-column: 1;
        }
        @include md{
            grid-row: 5;
            grid-column: 1;
        }


        h5{
            font-weight: bold;
        }
        a#showallbtn{
            color: $blue3;
            font-weight: 700;
            font-size: 0.87rem;
        }
        p{
            font-size: 0.87rem;
        }
        .user{
            margin-bottom: 30px;
            span{
                margin-right: 5px;
                font-size: 0.75rem;
            }
        }
    }

    .level{
        padding: 40px;

        grid-column: 3;
        grid-row: 3;
        @include xl{
            grid-row: 3;
            grid-column: 2;
        }
        @include md{
            grid-row: 6;
            grid-column: 1;
        }

        .level-bar{
            margin-top: 20px;
            background-color: $grey6;
            height: 12px;
            width: 100%;
            border-radius: 50px;


            .inner{
                width: 0%;
                height: 100%;
                border-radius: 50px;
                
                background: $gradientExtra;
                transition: 1s ease;
            }
        }
    }






    .notifications{
        .notification{
            
        }
    }
}